
<!-- Footer
============================================= -->
<footer id="footer" class="light">

    <div class="container">

        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap clearfix">
            <div class="col_two_third">
                <div class="col_one_third">

                    <div class="widget clearfix">

                        <div class="row">
                            <div class="footer-phone">+7 (812) <b>329-92-24</b></div>
                        </div>
                        <div style="background: url('{{ paths.theme }}images/world-map.png') no-repeat center center; background-size: 100%;">
                            <address>
                                <strong>Главный офис:</strong><br>
                                Санкт-Петербург<br>
                                Свердловская наб., 4<br>
                            </address>
                            <abbr title="Phone Number"><strong>Телефон:</strong></abbr> +7 (812)329-92-24<br>
                            <abbr title="Email Address"><strong>Email:</strong></abbr> info@sindy.ru
                        </div>

                    </div>

                </div>
                <div class="col_two_third col_last">
                    <div class="widget clearfix">
                        <h4>Отзывы клиентов</h4>

                        <div class="fslider testimonial no-image nobg noborder noshadow nopadding" data-animation="slide" data-arrows="false">
                            <div class="flexslider">
                                <div class="slider-wrap">
                                    <div class="slide">
                                        <div class="testi-image">
                                            <a href="#"><img src="{{ paths.theme }}images/testimonials/2.jpg" alt="Customer Testimonails"></a>
                                        </div>
                                        <div class="testi-content">
                                            <p>
                                                Натяжение, в случае использования адаптивно-ландшафтных систем земледелия, увлажняет минерал. Фингер-эффект традиционен. Возмущение плотности, согласно традиционным представлениям!
                                            </p>
                                            <div class="testi-meta">
                                                Иван Петров
                                                <span>Жилец многоквартирного дома</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="testi-image">
                                            <a href="#"><img src="{{ paths.theme }}images/testimonials/1.jpg" alt="Customer Testimonails"></a>
                                        </div>
                                        <div class="testi-content">
                                            <p>
                                                Заиливание перманентно перемещает лёсс. Процесс регионально нагревает микроагрегат. Солеперенос притягивает органо-минеральный краснозём. Возмущение плотности последовательно.
                                            </p>
                                            <div class="testi-meta">
                                                Кшиштов Пендерецкий
                                                <span>Кривоградкий завод</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="testi-image">
                                            <a href="#"><img src="{{ paths.theme }}images/testimonials/1.jpg" alt="Customer Testimonails"></a>
                                        </div>
                                        <div class="testi-content">
                                            <p>
                                                К.К.Гедройцем было показано, что желтозём ненаблюдаемо поглощает пахотный гистерезис ОГХ. Дождевание окисляет ташет. Мульча доступна. Кора выветривания обеднена.</p>
                                            <div class="testi-meta">
                                                Ильнур Гамзеев
                                                <span>Владелец частного дома</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="testi-image">
                                            <a href="#"><img src="{{ paths.theme }}images/testimonials/1.jpg" alt="Customer Testimonails"></a>
                                        </div>
                                        <div class="testi-content">
                                            <p>
                                                Пористость продуцирует легкосуглинистый фронт. Окисление пространственно неоднородно. Криопедология притягивает гистерезис ОГХ. Однако, при увеличении выборки коллембола обеднена. </p>
                                            <div class="testi-meta">
                                                Кургаз Мантогорзамбеков
                                                <span>Житель свердогамского района</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- START Кнопки и подписка -->
            <div class="col_one_third col_last">

                <div class="widget clearfix" style="margin-bottom: -20px;">

                    <div class="row">

                        <ul class="header-extras header-extras_footer">

                            <li class="header-extras__btn">
                                <div class="header-extras__btn-left">
                                    <a href="#"><img src="{{ paths.theme }}images/icons/calc.png" alt=""></a>
                                </div>
                                <div class="header-extras__btn-right">
                                    <a href="#">Калькулятор стоимости</a>
                                </div>
                                <div class="clearfix"></div>
                            </li>

                            <li class="header-extras__btn">
                                <div class="header-extras__btn-left">
                                    <a href="#"><img src="{{ paths.theme }}images/icons/24.png" alt=""></a>
                                </div>
                                <div class="header-extras__btn-right">
                                    <a href="#">Вызвать замерщика</a>
                                </div>
                                <div class="clearfix"></div>
                            </li>

                        </ul>

                    </div>

                </div>

                <div class="widget subscribe-widget clearfix">
                    <h5><strong>Выгодные предложения, скидки и акции</strong><br>Мы рассылаем подписавшимся на рассылку:</h5>
                    <div id="widget-subscribe-form-result" data-notify-type="success" data-notify-msg=""></div>
                    <form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin">
                        <div class="input-group divcenter">
                            <span class="input-group-addon"><i class="icon-email2"></i></span>
                            <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Введите ваш Email">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="submit">Подписаться</button>
                                    </span>
                        </div>
                    </form>
                </div>


            </div>
            <!-- END Кнопки и подписка -->
        </div><!-- .footer-widgets-wrap end -->
        <div class="footer-widgets-wrap last clearfix">
            <!-- START О компании + блок ссылок-->
            <div class="col_two_third">

                <div class="widget clearfix">

                    <img src="{{ paths.theme }}images/logo.png" alt="" class="alignleft" style="margin-top: 12px; padding-right: 18px; border-right: 1px solid #4A4A4A;">

                    <p>Мы верим что <strong>Электрод изменяем</strong>, <strong>Исследование постоянно</strong>. Взвесь усиливает фингер-эффект. В случае смены водного режима уровень грунтовых вод физически повышает почвенно-мелиоративный глей.</p>

                    <div class="line" style="margin: 30px 0;"></div>

                    <div class="row">

                        <div class="col-md-3 col-xs-6 bottommargin-sm widget_links">
                            <ul>
                                <li><a href="#">Продукция</a></li>
                                <li><a href="#">Комплектующие</a></li>
                                <li><a href="#">Сделать заказ</a></li>
                                <li><a href="#">Доставка  окон</a></li>
                                <li><a href="#">Виды монтажа</a></li>
                                <li><a href="#">Цены на окна по сериям домов</a></li>
                            </ul>
                        </div>

                        <div class="col-md-3 col-xs-6 bottommargin-sm widget_links">
                            <ul>
                                <li><a href="#">Теплые полы REHAU</a></li>
                                <li><a href="#">Вызов специалиста на дом</a></li>
                                <li><a href="#">Каталог готовых окон</a></li>
                                <li><a href="#">Остекление коттеджей и загородных домов</a></li>

                            </ul>
                        </div>

                        <div class="col-md-3 col-xs-6 bottommargin-sm widget_links">
                            <ul>
                                <li><a href="#">Как выбрать пластиковые окна</a></li>
                                <li><a href="#">Полезная информация</a></li>
                                <li><a href="#">Стать нашим Дилером</a></li>
                                <li><a href="#">Пригласить на тендер</a></li>

                            </ul>
                        </div>

                        <div class="col-md-3 col-xs-6 bottommargin-sm widget_links">
                            <ul>
                                <li><a href="#">Наши преимущества</a></li>
                                <li><a href="#">О Нас</a></li>
                                <li><a href="#">Производство</a></li>
                                <li><a href="#">Наши акции</a></li>
                                <li><a href="#">Строителям</a></li>
                                <li><a href="#">Реквизиты компании</a></li>
                            </ul>
                        </div>

                    </div>

                </div>

            </div>
            <!-- END О компании + блок ссылок-->

            <!-- START Форма контакта -->
            <div class="col_one_third col_last">

                <div class="widget quick-contact-widget clearfix">

                    <h4>Сообщение директору</h4>

                    <div id="quick-contact-form-result" data-notify-type="success" data-notify-msg="<i class=icon-ok-sign></i> Message Sent Successfully!"></div>

                    <form id="quick-contact-form" name="quick-contact-form" action="include/quickcontact.php" method="post" class="quick-contact-form nobottommargin">

                        <div class="form-process"></div>

                        <div class="input-group divcenter">
                            <span class="input-group-addon"><i class="icon-user"></i></span>
                            <input type="text" class="required form-control input-block-level" id="quick-contact-form-name" name="quick-contact-form-name" value="" placeholder="Ваше имя" />
                        </div>
                        <div class="input-group divcenter">
                            <span class="input-group-addon"><i class="icon-email2"></i></span>
                            <input type="text" class="required form-control email input-block-level" id="quick-contact-form-email" name="quick-contact-form-email" value="" placeholder="Ваш Email адрес" />
                        </div>
                        <textarea class="required form-control input-block-level short-textarea" id="quick-contact-form-message" name="quick-contact-form-message" rows="4" cols="30" placeholder="Ваше сообщение"></textarea>
                        <input type="text" class="hidden" id="quick-contact-form-botcheck" name="quick-contact-form-botcheck" value="" />
                        <button type="submit" id="quick-contact-form-submit" name="quick-contact-form-submit" class="btn btn-danger nomargin" value="submit">Отправить Email директору</button>

                    </form>


                </div>

            </div>
            <!-- END Форма контакта -->
        </div>
    </div>

    {% include 'parts/footer__copyrights.twig' %}
</footer><!-- #footer end -->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

{# Modals #}
{% include 'parts/modals/callback.twig' %}


<!-- Footer Scripts
============================================= -->
<script type="text/javascript" src="{{ paths.theme }}js/functions.js"></script>

</body>
</html>