<div class="container clearfix">

    <!-- Logo
    ============================================= -->
    <div id="logo">
        <a href="/" class="standard-logo" data-dark-logo="{{ paths.theme }}images/logo-dark.png"><img class="logo-image__regular" src="{{ paths.theme }}images/Sindy_logo_main.png" alt="Sindy"></a>
        <a href="/" class="retina-logo" data-dark-logo="{{ paths.theme }}images/logo-dark@2x.png"><img class="logo-image__regular" src="{{ paths.theme }}images/logo@2x.png" alt="Sindy"></a>
    </div><!-- #logo end -->

    <div class="header-sublogo">
        Оконный завод Санкт-Петербурга Работаем с 1998 г.
    </div>
    <ul class="header-extras">

        <li class="header-extras__btn">
            <div class="header-extras__btn-left">
                <a href="#"><img src="{{ paths.theme }}images/icons/calc.png" alt=""></a>
            </div>
            <div class="header-extras__btn-right">
                <a href="#">Калькулятор стоимости</a>
            </div>
            <div class="clearfix"></div>
        </li>

        <li class="header-extras__btn">
            <div class="header-extras__btn-left">
                <a href="#"><img src="{{ paths.theme }}images/icons/24.png" alt=""></a>
            </div>
            <div class="header-extras__btn-right">
                <a href="#">Вызвать замерщика</a>
            </div>
            <div class="clearfix"></div>
        </li>

        <li class="big-phone">
            <div class="big-phone__text">
                C 9:00 - 20:00 без выходных
                <span><i class="icomoon-phone"></i> +7 (812) <b>329-92-24</b></span>
                <div class="call-req__wrap">
                    <a href="#modal-callback" class="call-req" data-lightbox="inline">
                        Срочный обратный звонок, рассчёт окон за 5 мин.
                    </a>
                </div>

            </div>
        </li>
    </ul>

</div>